Repository dannyfranca/contextify, changes with the labels that .github/labeler.yml gives for each.
All labels: area/contextify-command, area/github

.github/labeler.yml:

# changes to the core cobra command
"area/contextify-command":
- changed-files:
  - any-glob-to-any-file: ['./main.go', './cmd/*.go']

# changes to Github workflows
"area/github":
- changed-files:
  - any-glob-to-any-file: '.github/**'

chore: add asset files for testing
  assets/dir1/file1.go
  assets/dir1/file2.md
  assets/dir2/file3.json
  assets/dir2/file4.txt
  assets/file5.html
Labels: none

feat: add test
  main_test.go
Labels: none

revert: remove windows and lic-headers
  .github/workflows/test.yml
  go.mod
  go.sum
Labels: area/github

refactor: decrease go mod version to 1.17
  .github/workflows/test.yml
  go.mod
Labels: area/github

feat: add version command
  cmd/version.go
Labels: area/contextify-command

feat: add version bump script
  Makefile
  scripts/bump_version.sh
Labels: none

docs: ad readme
  README.md
Labels: none

Bump version to 0.1.0
  cmd/version.go
Labels: area/contextify-command

docs: update version check command on README.md
  README.md
Labels: none
